.android-large-8 .time {
  margin-right: 9px;
  width: 257.8px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.3px;
  color: #252727;
}
.android-large-8 .cellular-connection {
  margin: 1px 5px 0 0;
  width: 17px;
  height: 10.7px;
}
.android-large-8 .wifi {
  margin: 0 5px 0.7px 0;
  width: 15.3px;
  height: 11px;
}
.android-large-8 .battery {
  border-radius: 2.7px;
  margin-bottom: 0.3px;
  width: 24.3px;
  height: 11.3px;
}
.android-large-8 .status-bar {
  border-radius: 2.7px;
  margin: 4px 0 2.3px 0;
  display: flex;
  flex-direction: row;
  width: 66.7px;
  height: fit-content;
  box-sizing: border-box;
}
.android-large-8 .status {
  margin: 0 0 38px 11.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 11.2px);
  box-sizing: border-box;
}
.android-large-8 .vector {
  width: 5px;
  height: 8px;
}
.android-large-8 .chevron-left {
  border-radius: 3px;
  background: #F1F1F1;
  margin: 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 7px 6px 8px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.android-large-8 .workout-tracker {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #2C2B2B;
}
.android-large-8 .container-5 {
  margin-bottom: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 257px;
  box-sizing: border-box;
}
.android-large-8 .good-job {
  margin-right: 7px;
  width: 88.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 11.2px;
  color: #2C2B2B;
}
.android-large-8 .less-then-320-cal {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 11.2px;
  color: #2C2B2B;
}
.android-large-8 .container-12 {
  margin: 0 0 1.3px 93.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 196.1px;
  box-sizing: border-box;
}
.android-large-8 .union-1 {
  width: 2px;
  height: 10.2px;
}
.android-large-8 .union {
  width: 2px;
  height: 10.2px;
}
.android-large-8 .container-8 {
  margin: 0 0 4.1px 77.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 115px;
  box-sizing: border-box;
}
.android-large-8 .back-lines {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 342px;
  height: 71.2px;
}
.android-large-8 .cal {
  position: relative;
  margin-bottom: 56.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #2C2B2B;
}
.android-large-8 .container {
  margin-right: 7.5px;
  width: 74.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12.2px;
  color: #2C2B2B;
}
.android-large-8 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12.2px;
  color: #2C2B2B;
}
.android-large-8 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12.2px;
  color: #2C2B2B;
}
.android-large-8 .container-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12.2px;
  color: #2C2B2B;
}
.android-large-8 .container-1 {
  position: relative;
  margin: 0 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 274.5px;
  box-sizing: border-box;
}
.android-large-8 .chart-full {
  position: relative;
  margin: 0 1.7px 24.5px 0;
  display: flex;
  flex-direction: column;
  padding-top: 3.1px;
  width: calc(100% - 1.7px);
  box-sizing: border-box;
}
.android-large-8 .alert-triangle {
  margin: 6px 0 4px 0;
  width: 20px;
  height: 20px;
}
.android-large-8 .youve-burned-fewer-calories-than-yesterday-time-to-get-moving {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12.6px;
  color: #2C2B2B;
}
.android-large-8 .container-4 {
  position: absolute;
  top: 13.2px;
  right: 11.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #2C2B2B;
}
.container-4-sub1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 13.2px;
  line-height: 1.333;
}
.android-large-8 .frame-17 {
  backdrop-filter: blur(20.4px);
  border-radius: 10px;
  border: 1px solid rgba(69, 69, 69, 0.04);
  background: linear-gradient(90.07deg, rgba(129, 157, 255, 0.28) 5.9%, rgba(16, 16, 16, 0.28) 76.5%);
  position: relative;
  margin: 0 15.9px 54.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8.7px 16.8px 9.3px 8px;
  width: calc(100% - 15.9px);
  box-sizing: border-box;
}
.android-large-8 .upcoming-workout {
  margin-right: 10px;
  width: 274px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #2C2B2B;
}
.android-large-8 .see-more {
  margin: 2px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #7F7F7F;
}
.android-large-8 .container-13 {
  margin: 0 2.8px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2.8px);
  box-sizing: border-box;
}
.android-large-8 .ellipse-53 {
  border-radius: 25px;
  background: url('../assets/images/ellipse53.png') 50% / cover no-repeat, linear-gradient(rgba(129, 154, 255, 0.15), rgba(129, 154, 255, 0.15));
  margin-right: 9px;
  width: 50px;
  height: 50px;
}
.android-large-8 .full-body-workout {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #2C2B2B;
}
.android-large-8 .today-3-pm {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  color: #7F7F7F;
}
.android-large-8 .container-3 {
  margin: 3px 0 12px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.android-large-8 .container-15 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.android-large-8 .ellipse-52 {
  border-radius: 7.9px;
  background: #FFFFFF;
  width: 15.7px;
  height: 15.7px;
}
.android-large-8 .toggle {
  border-radius: 14.3px;
  background: #8099FF;
  position: relative;
  margin: 15px 0;
  padding: 2.1px 2.9px;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
}
.android-large-8 .container-6 {
  box-shadow: -4px 8px 25px -8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1.7px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 16px 12px 16px;
  width: calc(100% - 1.7px);
  box-sizing: border-box;
}
.android-large-8 .ellipse-54 {
  border-radius: 25px;
  background: url('../assets/images/ellipse54.png') 50% / cover no-repeat, linear-gradient(#819AFF, #819AFF);
  margin-right: 9px;
  width: 50px;
  height: 50px;
}
.android-large-8 .upper-body-workout {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #2C2B2B;
}
.android-large-8 .feb-330-pm {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  color: #7F7F7F;
}
.android-large-8 .container-16 {
  margin: 7px 0 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.android-large-8 .container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.android-large-8 .ellipse-521 {
  border-radius: 7.9px;
  background: #FFFFFF;
  width: 15.7px;
  height: 15.7px;
}
.android-large-8 .toggle-1 {
  border-radius: 14.3px;
  background: #8099FF;
  position: relative;
  margin: 15px 0;
  padding: 2.1px 2.9px;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
}
.android-large-8 .container-11 {
  box-shadow: -4px 8px 25px -8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1.7px 17px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 16px 12px 16px;
  width: calc(100% - 1.7px);
  box-sizing: border-box;
}
.android-large-8 .what-do-you-want-to-train {
  margin: 0 1px 16px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #2C2B2B;
}
.android-large-8 .full-body-workout-1 {
  margin-bottom: 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #2C2B2B;
}
.android-large-8 .arms {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  color: #2C2B2B;
}
.android-large-8 .chest {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  color: #2C2B2B;
}
.android-large-8 .container-14 {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.android-large-8 .ellipse-55 {
  border-radius: 50px;
  background: url('../assets/images/ellipse55.png') 50% / cover no-repeat, linear-gradient(rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48));
  width: 100px;
  height: 100px;
}
.android-large-8 .container-4 {
  box-shadow: -4px 8px 25px -8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  background: rgba(140, 177, 255, 0.6);
  position: relative;
  margin-right: 1.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 12px 8px 16px;
  width: calc(100% - 1.7px);
  box-sizing: border-box;
}
.android-large-8 .vector-4 {
  margin: 0px 0 0.7px 0;
  width: 26.6px;
  height: 26.5px;
}
.android-large-8 .group-1 {
  width: 27.2px;
  height: 27.2px;
}
.android-large-8 .vector-7 {
  margin-bottom: 0.7px;
  width: 29.3px;
  height: 26.5px;
}
.android-large-8 .vector-6 {
  margin: 0 6.8px 5.4px 6.8px;
  width: 8.2px;
  height: 8.2px;
}
.android-large-8 .vector-5 {
  width: 21.8px;
  height: 8.2px;
}
.android-large-8 .group {
  margin: 2.4px 0 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.8px;
  height: fit-content;
  box-sizing: border-box;
}
.android-large-8 .container-9 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22.1px 29px 26.7px 29px;
  box-sizing: border-box;
}
.android-large-8 .vector-11 {
  width: 20.2px;
  height: 20.2px;
}
.android-large-8 .group-1 {
  border-radius: 31.5px;
  background: linear-gradient(90.95deg, #DEE5FF 0.8%, #809AFF 99.2%);
  position: absolute;
  left: 50%;
  bottom: 38px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 0.8px;
  width: 63px;
  height: 63px;
  box-sizing: border-box;
}
.android-large-8 {
  border-radius: 10px;
  background: #FCFCFC;
  display: flex;
  flex-direction: column;
  padding: 12px 14.3px 29px 16px;
  box-sizing: border-box;
}
